<div class="mdc-layout-grid background-header">
    <div class="mdc-layout-grid__inner">
        <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
            <div class="fanpage-icons-position">
                <a href="#"><img src="./assets/icons/instagram.svg" alt="instagram"></a>
                <a href="#"><img src="./assets/icons/tiktok.svg" alt="instagram"></a>
                <a href="#"><img src="./assets/icons/youtube.svg" alt="instagram"></a>
            </div>

        </div>
        <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone text-center">
            <h1 class="title-font-style">Food <span>Recipes</span></h1>
        </div>
        <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone text-center">
            <div class="fanpage-icons-position">
                <a href="#"><img src="./assets/icons/facebook.svg" alt="instagram"></a>
                <a href="#"><img src="./assets/icons/pinterest.svg" alt="instagram"></a>
                <a href="#"><img src="./assets/icons/twitter.svg" alt="instagram"></a>
            </div>
        </div>
    </div>
</div>