.back-to-home{
  background-color: #633621;
}
.details-title{
    padding: 32px 0px;
    h1{
     font-weight: 600;
    font-family: Georgia, "Times New Roman", serif;  
    color: #633621; 
    }
    span{
        color: #ffa673;
    }
    
}
