<div class="example-button-container">
    <button mat-fab class="back-to-home" [mat-dialog-close]="true">
        <mat-icon>home</mat-icon>
    </button>
</div>
<div class="details-title">
    <h1>Recipe <span>details</span></h1>
</div>

<mat-dialog-content class="mat-typography">
    <div class="mdc-layout-grid test ">
        <div class="mdc-layout-grid__inner">
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">

                <h2>Recipe name: {{allDetailsRecipe.recipesName}}</h2>
                <p>Recipe source: <a href="{{allDetailsRecipe.recipesSource}}"
                        target="_blank">{{allDetailsRecipe.recipesSource}}</a></p>
                <p>Ingredients: </p>
                <p *ngFor="let ingredient of ingredients">{{ingredient.product}}: {{ingredient.quantity}}</p>
                <p *ngIf="allDetailsRecipe.otherIngredient || allDetailsRecipe.otherQuantity">
                    {{allDetailsRecipe.otherIngredient}}:
                    {{allDetailsRecipe.otherQuantity}}</p>
                <p>Preparation time: {{allDetailsRecipe.recipesHours}}h : {{allDetailsRecipe.recipesMinutes}}m</p>
                <button mat-stroked-button color="warn" (click)="openDialogConfirm()">Delete Recipe</button>
            </div>
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                <h2>Preparation Instructions</h2>
                <p>{{allDetailsRecipe.recipesInstructions}}</p>
            </div>
        </div>
    </div>
</mat-dialog-content>